{% extends "adminpanel/base.html" %}
{% block content %}

<h2>{% if habit %}Editar Hábito{% else %}Criar Hábito{% endif %}</h2>
<hr>

<form method="POST" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" name="name" class="form-control"
               value="{{ habit.title|default:'' }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <textarea name="description" class="form-control" rows="3" required>{{ habit.description|default:'' }}</textarea>
    </div>

    {% if not habit %}
            <div class="mb-3">
            <label class="form-label">Usuário</label>
            
            <select name="user_id" class="form-select" required>
                <option value="" selected disabled>Selecione um usuário...</option>
                
                {% for u in users %}
                    <option value="{{ u.id }}">
                        {{ u.name }} (ID: {{ u.id }})
                    </option>
                {% endfor %}
                
            </select>
            <small class="text-muted">Selecione o usuário dono do hábito.</small>
        </div>
    {% endif %}

    <button class="btn btn-success">Salvar</button>
    <a href="/panel/habits/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
