{% extends "adminpanel/base.html" %}
{% block content %}

<h2 class="mb-4">Usuários</h2>

<table class="table table-hover shadow-sm bg-white">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>
                <a href="/panel/users/{{ u.id }}/" class="btn btn-info btn-sm">Ver</a>
                <a href="/panel/users/{{ u.id }}/edit/" class="btn btn-warning btn-sm">Editar</a>
                <a href="/panel/users/{{ u.id }}/delete/" class="btn btn-danger btn-sm"
                   onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
